html, body {
    min-width: 1250px; /* Replace 1024px with your desired minimum width */
}

.silkscreen-regular {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
}

.silkscreen-bold {
    font-family: "Silkscreen", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "silkscreen";
    overflow: hidden;
    color: #F2EAE4;
    background: linear-gradient(to right, #734E38, #A6866A);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the gradient covers the whole screen */
    background-attachment: fixed; /* Locks the background in place */
}

/* Contact Section Styles */
.contact-section {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.contact-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.contact-icon:hover {
    transform: scale(1.2);
}

.container {
    display: flex;
    width: max-content;
    overflow: hidden;
}

.section {
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.LandingSection {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F2EAE4;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: normal;
    position: absolute;
    gap: 10px;
}

.project-image {
    width: 900px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    align-self: flex-end;
    box-shadow: 0px 4px 10px rgba(0, .1, .1, 0.2);
    
}

.project-description {
    margin-top: auto;
    text-align: left;
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
    max-width: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
}

h2 {
    color: #F2EAE4;
    font-size: 2em;
}

h3 {
    color: #D9CBBF;
}

p {
    color: #D9CBBF;
}

.about-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 650px;
}

.about-details h1 {
    font-size: 4em;
    margin: 0;
}

.about-text {
    font-size: 1.3em;
    line-height: 1.5;
    margin: 0;
    color: #D9CBBF;
}

.profile-photo {
    width: 350px;
    border-radius: 30px;
    object-fit: cover;
    border: 3px solid #736F36;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.about-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 80%;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 45px;

}
